body {
  background-color: #2f243a;
}

.logo {
  height: auto;
  width: 100%;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  margin: 5% auto;
  justify-content: space-evenly;
  width: 60%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  color: whitesmoke;
}
