body {
  background-color: #232125;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  background-color: rgb(84, 24, 119);
  color: whitesmoke;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: #264653;
  text-align: center;
  padding-top: 50px;
  font-size: 500%;
  color: antiquewhite;
}

.contact {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#statistics-status {
  display: none;
}

.container {
  padding-top: 20px;
  margin: auto auto;
  width: 50%;
}

.checkbox {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke;
  padding: 50px 10px;
}

#statistics-field {
  text-align: center;
  color: whitesmoke;
  width: 100%;
  height: auto;
  flex-direction: column;
  display: none;
  background-color: #2e2e2f;
  margin: auto 0;
}

.stock-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
}

#stock-market-status {
  font-size: 200%;
  margin: auto 0;
  font-weight: 600;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#statistics {
  margin: auto auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: auto;
  margin-bottom: 75px;
}

.contact {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  background-color: #232125;
}

.icon {
  height: 70px;
  width: 70px;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}


@media all and (max-width: 768px) {
  h
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

input[type="text"], textarea {
  background-color : rgb(46, 45, 45);
  color: whitesmoke;
}

input[type="text"]:focus, textarea {
  background-color : rgb(107, 102, 102);
  color: whitesmoke;
}

.input-group-text {
  background-color: rgb(146, 146, 146);
  color: whitesmoke;
}

#summary {
  text-align: left;
}

#symbol {
  text-align: left;
}